<mat-card>
    <mat-card-title>Novo</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Cliente" [(ngModel)]="sale.Cliente_fk" name="Cliente_fk">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Produto" [(ngModel)]="sale.Produto_fk" name="Produto_fk">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Quantidade" [(ngModel)]="sale.Quantidade" name="Quantidade">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createSale()" color="accent" class="save">
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()" color="warn" class="cancel">
        Cancelar
    </button>
</mat-card>